{{ define "main" }}

{{ partial "page-title.html" . }}

{{ $data := index site.Data site.Language.Lang }}

<section class="portfolio-single-page section-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <img class="img-responsive w-100" src="{{ .Params.Image | relURL }}" alt="">
      </div>
      <div class="col-md-4">
        <div class="project-details">
          <h4>Detalles del producto</h4>
          <ul>
            
            <li><span>Precio :</span> <FONT SIZE=5><strong>199€<FONT SIZE=2>(envío incluído)</strong></li>
            
            <li><span>Dimensiones :</span> <strong>120x60cm</strong></li>
            
            <li><span>Colores disponibles :</span> <strong>Blanco, verde, gris y negro</strong></li>
            
            <li><span>Materiales :</span> <strong>Tablero partículas fibras</strong></li>
            
            <li><span>Iluminación :</span> <strong>Bombillas LED 400lum</strong></li>
            
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="project-content mt-50">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
