{{ define "main" }}

{{ partial "page-title.html" . }}

{{ $data := index site.Data site.Language.Lang }}

<section class="portfolio-single-page section-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <img class="img-responsive w-100" src="{{ .Params.Image | relURL }}" alt="">
      </div>
      <div class="col-md-4">
        <div class="project-details">
          <h4>Detalles del producto</h4>
          <ul>
            {{ range .Params.Information }}
            <li><span>{{ .label }} :</span> <strong>{{ .info | markdownify }}</strong></li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="project-content mt-50">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section>
<div class="zoom-gallery">
	<!--

	Width/height ratio of thumbnail and the main image must match to avoid glitches.

	If ratios are different, you may add CSS3 opacity transition to the main image to make the change less noticable.

	 -->
	<a href="http://farm4.staticflickr.com/3763/9204547649_0472680945_o.jpg" data-source="http://500px.com/photo/32736307" title="Into The Blue" style="width:193px;height:125px;">
		<img src="http://farm4.staticflickr.com/3763/9204547649_7de96ee188_t.jpg" width="193" height="125">
	</a>
	<a href="http://farm3.staticflickr.com/2856/9207329420_7f2a668b06_o.jpg" data-source="http://500px.com/photo/32554131" title="Light Sabre" style="width:82px;height:125px;">
		<img src="http://farm3.staticflickr.com/2856/9207329420_e485948b01_t.jpg" width="82px" height="125">
	</a>
</div>



{{ end }}
